{% include 'base.html' %}

<div style="text-align: center;">
    <h1 style=" margin: 60px;">Welcome! Keep Your Memories here</h1>
</div>

<div style="width: 250px; margin: 100px auto; padding: 30px; border: 1px solid #ccc; border-radius: 20px; text-align: center; background-color: #f9f9f9;">

    <a href="{% url 'signup' %}" style="text-decoration: none; background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 15px; display: block; margin-bottom: 20px;">Sign Up</a>

    <a href="{% url 'login' %}" style="text-decoration: none; background-color: #007BFF; color: #fff; padding: 10px 20px; border-radius: 15px; display: block;">Log In</a>
        
</div>
